theme: auto

default_2fa_method: totp

server:
  address: tcp://0.0.0.0:2317

log:
  level: info

identity_validation:
  reset_password:
    jwt_secret: '${AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET}'

authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  default_policy: deny
  rules:
    - domain: '${RELAY_DOMAIN}'
      resources:
        - '^/admin.*$'
      policy: two_factor

session:
  secret: '${AUTHELIA_SESSION_SECRET}'
  cookies:
    - domain: '${BASE_DOMAIN}'
      authelia_url: 'https://${AUTH_DOMAIN}'
      default_redirection_url: 'https://${RELAY_DOMAIN}/admin'

storage:
  encryption_key: '${AUTHELIA_STORAGE_ENCRYPTION_KEY}'
  local:
    path: /config/data/db.sqlite3

notifier:
  filesystem:
    filename: /config/data/notifications.txt
